<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @screen.name %>
</p>

<p>
  <strong>Seats:</strong>
  <%= @screen.seats %>
</p>

<%= link_to 'Edit', edit_screen_path(@screen) %> |
<%= link_to 'Back', screens_path %>
