<div class="booking-container">
<%= form_for :booking do |form| %>
  <% if booking&.errors&.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
        <% booking.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
	  <%= form.label :seats %>
	  <%= form.text_field "seats", max: 24, value: 0 %>
  </div>

  <div class="field">
	  <%= form.label :total %>
	  <%= form.text_field "total_price", readonly: true %>
  </div>
  <div class="actions">
    <%= form.hidden_field "movie_tickets", value: [] %>
    <% ticket_action = "Book" %>
    <%= form.hidden_field "status", value: ticket_action %>
    <%= form.hidden_field "user_id", value: (current_user ? current_user.id : '') %>
    <%= form.hidden_field "show_id", value: "0" %>
    <%= form.submit "#{ticket_action} Ticket", class: 'btn btn-primary' %>
  </div>
  <%= javascript_pack_tag 'movie_show' %>
<% end %>
</div>
